[data-md-color-scheme="default"] {
  --md-primary-fg-color: #006cd6;
  --md-accent-fg-color: #006cd6;
}

[data-md-color-scheme="slate"] {
  --md-primary-fg-color: #006cd6;
  --md-accent-fg-color: #006cd6;
  --md-default-bg-color: #2a2e33;
}